@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --dark-gray: #131313;
  --orange: #ff8177;
  --red: #ff0844;
  --white: #fff;
  --secondary-orange: #ffa963;
  --secondary-red: #ff1778;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--dark-gray);
}
.navbar {
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
}

.navbar__logo {
  background-color: var(--orange);
  background-image: linear-gradient(to top, var(--red) 0%, var(--orange) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  text-decoration: none;
}
.navbar__logo:hover {
  background-color: var(--secondary-orange);
  background-image: linear-gradient(
    to top,
    var(--secondary-red) 0%,
    var(--secondary-orange) 100%
  );
  transition: all 0.3s ease-in-out;
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  padding: 0 1rem;
}
.navbar__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.navbar__links {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--white);
}
.navbar__links:hover {
  color: var(--orange);
  transition: all 0.3s ease-in-out;
}
.navbar__links::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--orange);
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}
.navbar__links:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.button {
  text-decoration: none;
  color: var(--white);
  background-color: var(--orange);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: var(--red);
  transition: all 0.3s ease-in-out;
}
