@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --dark-gray: #000300;
  --secondary-dark-gray: #011001;
  --primary: #05ff82;
  --secondary: #76ff36;
  --white: #fff;
  --max-width: 1536px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--dark-gray);
}

/* Navigation  */
.navbar {
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 0 1rem;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem;
}

.navbar__logo {
  background-color: var(--primary);
  background-image: linear-gradient(
    to right,
    var(--secondary) 0%,
    var(--primary) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 2rem;
  text-decoration: none;
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  padding: 0 1rem;
}
.navbar__links {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--white);
}
.navbar__links:hover {
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}
.navbar__links::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}
.navbar__links:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Navigation End */

/* Navigation Media Queries */
@media screen and (max-width: 1024px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
    max-width: var(--max-width);
    padding: 0;
  }

  .navbar__logo {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -1;
    background-color: var(--dark-gray);
  }

  .navbar__menu.active {
    top: 100%;
    opacity: 1;
    padding: 2rem 0rem;
    transition: all 0.5s ease;
    z-index: -1;
  }
  .navbar__item {
    padding: 1rem 0rem;
  }
  .navbar__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
  }
  .navbar__toggle .bar {
    display: block;
  }
  .navbar__toggle {
    cursor: pointer;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 3%;
    transform: translate(3%, 20%);
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero */
.hero {
  padding: 0 1rem;
}
.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  max-width: var(--max-width);
  padding: 5rem 1rem;
}

.hero__content h1 {
  background-color: var(--primary);
  background-image: linear-gradient(
    to right,
    var(--secondary) 0%,
    var(--primary) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 3rem;
}
.hero__content p {
  color: var(--white);
  margin: 2rem 0rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.hero__btn {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--dark-gray);
  border: none;
  margin-top: 2rem;
  position: relative;
  background-image: linear-gradient(
    to right,
    var(--secondary) 0%,
    var(--primary) 100%
  );
}
.hero__btn span {
  position: relative;
  z-index: 2;
  color: var(--dark-gray);
  text-decoration: none;
}

.hero__btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--secondary);
  transition: all 0.3s ease-in-out;
  border-radius: 0.5rem;
}

.hero__btn:hover::after {
  width: 100%;
}

.hero__image--container {
  margin: 0 auto;
}
.hero__image {
  width: 100%;
}

/* Hero End */

/* Hero Media Queries */
@media screen and (max-width: 1024px) {
  .hero__content h1 {
    font-size: 2.5rem;
  }
  .hero__content p {
    font-size: 1.2rem;
  }
  .hero__btn {
    font-size: 1.2rem;
  }
  .hero__image {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .hero__content h1 {
    font-size: 2rem;
  }
  .hero__content p {
    font-size: 1rem;
  }
  .hero__btn {
    font-size: 1rem;
  }
  .hero__content {
    order: 2;
  }
  .hero__image--container {
    order: 1;
  }
  .hero__container {
    text-align: center;
    grid-template-columns: auto;
    margin: 0 auto;
    padding: 5rem 1rem;
  }
  .hero__image {
    width: 70%;
  }
}

/* Services */
.services {
  background-color: var(--secondary-dark-gray);
  padding: 0 1rem;
}
.services__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  max-width: var(--max-width);
  padding: 10rem 1rem;
}
.services__content h1 {
  color: var(--white);
  font-size: 3rem;
}
.services__content h2 {
  background-color: var(--primary);
  background-image: linear-gradient(
    to right,
    var(--secondary) 0%,
    var(--primary) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin: 2rem 0rem;
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: var(--primary);
}
.services__content p {
  color: var(--white);
  margin: 2rem 0rem;
  font-size: 1rem;
  line-height: 2.5rem;
}
.services__image--container {
  margin: 0 auto;
}
.services__image {
  width: 100%;
}
/* Services End */

/* Services Media Queries */
@media screen and (max-width: 1024px) {
  .services__content h1 {
    font-size: 2.5rem;
  }
  .services__item h2 {
    font-size: 1.5rem;
  }
  .services__item p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .services__container {
    text-align: center;
    grid-template-columns: auto;
    margin: 0 auto;
    padding: 5rem 1rem;
  }

  .services__image {
    width: 70%;
  }

  .services__content h1 {
    font-size: 2rem;
  }
  .services__item p {
    font-size: 1rem;
  }

  .client__logo {
    width: 30%;
    margin: 2rem auto;
  }
}

/* Clients */
.clients {
  padding: 0 1rem;
}
.clients__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
  max-width: var(--max-width);
  padding: 5rem 1rem;
}
.clients__content {
  text-align: center;
}

.clients__content h1 {
  background-color: var(--primary);
  background-image: linear-gradient(
    to right,
    var(--secondary) 0%,
    var(--primary) 100%
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 3rem;
}
.clients__content p {
  color: var(--white);
  font-size: 1.2rem;
}
.clients_logo--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}
.client__logo {
  width: 20%;
  margin: auto;
}
/* End Clients */

/* Client Media Queries */
@media screen and (max-width: 1024px) {
  .clients_logo--container {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
  }
  .client__logo {
    width: 20%;
    margin: 2rem auto;
  }
  .clients__content h1 {
    font-size: 2.5rem;
  }
  .clients__content p {
    font-size: 1.2rem;
  }
  .client__logo {
    width: 20%;
    margin: 2rem auto;
  }
}
@media screen and (max-width: 768px) {
  .clients__content h1 {
    font-size: 2rem;
  }
  .clients__content p {
    font-size: 1rem;
  }

  .client__logo {
    width: 30%;
    margin: 2rem auto;
  }
}
